@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Elasticserch 测试</title>
    <link rel="stylesheet" href="~/ui/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ui/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/ui/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
</head>
<body class="no-skin">
    <div class="main-container ace-save-state" id="main-container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            </button>
                             符合条件的数据有
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                   Name
                                                </th>
                                                <th class="center">Class</th>
                                                <th class="center">School</th>
                                                <th class="center">Chinese</th>
                                                <th class="center">Math</th>
                                                <th class="center">
                                                    English
                                                </th>
                                                <th class="center">Desc</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">
                                                   Vincent
                                                </td>
                                                <td class="center">
                                                    10
                                                </td>
                                                <td class="center">
                                                    华南理工大学
                                                </td>
                                                <td class="center">99</td>
                                                <td class="center">77</td>
                                                <td class="center">88</td>
                                                <td class="hidden-480" style="max-width:750px">
                                                    <span class="label label-sm label-danger">Expiring</span>我是广东潮汕人，我来自美丽的揭阳
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                    我毕业于华南理工大学，应用数学专业，谢谢大家的支持
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
